.button {
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rgb(225, 225, 225);
    color: #888;
    outline: 1px solid #888;
}

.operator {
    background-color: rgb(300, 100, 0);
    color: black;
    outline: 1px solid black;
}