.input {
    display: flex;
    flex: 1;
    background-color: black;
    width: 100%;
    height: 4em;
    outline: 1px solid #888;
    color: white;
    justify-content: space-between;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
    align-items: center;
}